{% extends 'base.html.twig' %}

{% block title %}
    Produto{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="media col-md-9">
                <h2>Nome do Produto</h2>
                <div class="pull-left thumbnail">
                    <img class="media-object" src="{{ asset('images/fem-oculos-3.jpg') }}" alt="Nome do Produto">
                </div>
                <div class="media-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu iaculis dui.</div>
                <h2>R$ 100,00</h2>
                <button type="button" class="btn btn-success btn-lg">Colocar no Carrinho</button>
            </div>
        </div>
    </div>
{% endblock %}
